*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style:none ;
}



.container{
    margin: 0 auto;
    width: 500px;
    height: 500px;
}

.divp{
    background-color: rgba(135, 135, 7, 0.548);
    height: 20px;
}

.vvvv {
    background-color: white;
    border-radius: 5px;
    width: 290px;
}

.divj{
    background-image: url(https://fons.grizly.club/uploads/posts/2025-06/24/17507706025207.jpg);
    width: 500px;
    height: 50px;
}

.divj h1{
    margin: 0 auto;
}

.divn{
    width: 500px;
    background-color: rgb(241, 241, 55);
    display: flex;
    justify-content: start;
    gap: 20px;
}


.aurum:hover {
background-color: black;
color: white;
font-weight: 500;
}

.aurum:active{
    color: crimson;
    background-color: deeppink;
    font-weight: 100;
}

.divpnj{
    display: flex;
    justify-content: space-evenly;
}